name: test

on: [push, pull_request]

jobs:
  ruby-versions:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.versions.outputs.value }}
    steps:
      - id: versions
        run: |
          versions=$(curl -s 'https://cache.ruby-lang.org/pub/misc/ci_versions/cruby.json' | jq -c '. + ["2.5", "jruby", "truffleruby"]')
          echo "::set-output name=value::${versions}"
  test:
    needs: ruby-versions
    name: build (${{ matrix.ruby }} / ${{ matrix.os }})
    strategy:
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        exclude:
          - { os: windows-latest, ruby: head }
          - { os: macos-latest, ruby: jruby }
          - { os: windows-latest, ruby: jruby }
          - { os: windows-latest, ruby: truffleruby }
        include:
          - { os: windows-latest, ruby: mingw }
          - { os: windows-latest, ruby: mswin }
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # 'bundle install' and cache gems
    - name: Run test
      run: bundle exec rake test
